/*général*/

body
{
  font-family: 'lato', sans-serif;  
}
h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}
img 
{
   max-width: 100%;
   height: auto;   
}
section
{
   padding:45px 0 80px 0 ; 
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}
.red-divider
{
 width: 100px; 
 height: 2px; 
 background:#5dade2 ; 
 margin: 20px auto;
}


/*about*/

#about
{
    padding-top: 100px;
    background:   #5dade2  ; 
} 
.profile-picture
{
text-align: center;
margin:  0 auto;
float: none;
}
#about .heading h1{

margin-top: 20px;
color:#fff;
text-transform: uppercase;

}
#about .heading h3{
    color:#000;
    
    }
.button1
    {
font-weight: bold;
text-transform: uppercase;
color: white;
border: 1px solid white;
display: inline-block;
margin-top: 20px;
padding: 10px 50px;
border-radius: 3px;
transition: all 0.3s ease-in 0s;
    }
    .button1:hover
    {
        background:white;
        color:  #5dade2 ;
        text-decoration: none;
    }
    a:link 
{ 
 text-decoration:none; 
} 
/*SKILLS*/
#skills
{
    background: #fff;
}
#skills .heading h2
{
    color:#5dade2;
    text-transform: uppercase;
}
#skills .progress
{
    height: 20%;
    margin: 30px 20px;
    backface-visibility: #ddd;
}
#skills .progress-bar
{
  background:#5dade2 ;  
}
#skills .progress h5
{
    text-shadow: 1px 1px 1px #000;
}
