body{
    background-color: rgb(195, 212, 204);
    background-image: url('../images/fond.jpg');
    font-family: 'Sriracha', cursive;    
}

.container{
    background-color: #7ABDFB;
    width: 1261px;
    height: 918px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 1px 10px 1px #0F61AD;
}

h1{
    color: black;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0px;
    animation-duration: 3s;
    animation-name: slidein;
    text-shadow:0px 5px 2px #b076d1;        
}

.form{
    text-align: center;    
}

.texteSaisie{
    font-size: 1.1rem;
}

.dernierResultat{
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
    color: white;
    padding: 5px;
}

.boutonValider{    
    width: 100px;
    height: auto;
    background-color: #2877C0;
    border-radius: 9px;
    border: solid 0px;
    font-family: 'Sriracha', cursive;
    font-size: 1.3rem;
    color: white;   
}

.boutonValider:hover{
    background-color: #0F61AD;
}

#mesimages{
    width: 500px;
    height: auto;
    margin-left: 350px;
}

.saisieUser{
    font-family: 'Sriracha', cursive;
    font-size: 1.4rem;
    text-align: center;
    width: 80px;
    height: 30px; 
}

.paraResult{
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 1.3rem;
}

.plusOuMoins{
    color: rgb(87, 0, 226);
    font-size: 1.7rem;
}

.boutonReset{
    margin-left: 845px;
    margin-top: -38px;
    width: 100px;
    height: auto;
    background-color: #2877C0;
    border-radius: 9px;
    border: solid 0px;
    font-family: 'Sriracha', cursive;
    font-size: 1.3rem;
    color: white; 
       
}

.boutonReset:hover{
    background-color: #0F61AD;
}    


